@import url('https://fonts.googleapis.com/css?family=Arvo');

.loadingText {
    margin: auto;
    font-size: 10vw;
    font-family: Arvo, serif;
    color: #006400;
}

#header {
    font-family: sans-serif;
    display: flex;
    height: 15%;
}

img,
input,
button,
span,
#mapUrl {
    margin: auto;
}

#map {
    /*display: block;*/
    height: 85%;
}

#tree {
    width: 20%;
}

html,
body {
    height: 100%;
}

.loading {
    display: flex;
    overflow: hidden;
    height: 100%;
    animation: logo-flash 1.8s linear 0s infinite alternate;
}

.hidden {
    display: none;
}

@keyframes logo-flash {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.25;
    }
}
